.icon {
    height: 1.2em;
    margin-left: 2em;
}

.rij {
    display: flex;
}

.rij:nth-child(odd) {
    background-color: aliceblue;
}

.rij>div {
    padding: .5em 1em;
    display: flex;
    align-items: center;
}

#uitvoerKop {
    display: flex;
    font-weight: 800;
}

#uitvoerKop>div {
    padding: .5em .7em;
}

#uitvoerKop .tijd {
    padding-right: 4.5em;
}

#uitvoerKop .gw {
    padding: .5em .4m;
}